body {
    font-family: Arial, sans-serif;
    background-color: #87BBA2;
    color: #212227;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B8BAE;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #FFD23F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #395B50;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #8B8BAE;
    color: #FFD23F;
}
